<h2 mat-dialog-title>Car Details</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.selectedCar.id" placeholder="Id" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.selectedCar.plateNumber" placeholder="plateNumber" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.selectedCar.fuelNorm" placeholder="fuelNorm" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.selectedCar.fuelType" placeholder="fuelType" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.selectedCar.companyId" placeholder="companyId" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.selectedCar.carsDeleted" placeholder="carsDeleted" disabled>
  </mat-form-field>
</div>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
