<h2 mat-dialog-title>Car Details</h2>
  <form>
  <mat-form-field>
    <input matInput [(ngModel)]="car.id" name="id" placeholder="Id" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="car.plateNumber" name="plateNumber" placeholder="plateNumber" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="car.fuelNorm" name="fuelNorm" placeholder="fuelNorm" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="car.fuelType" name="fuelType" placeholder="fuelType" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="car.companyId" name="companyId" placeholder="companyId" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="car.carsDeleted" name="carsDeleted" placeholder="carsDeleted" disabled>
  </mat-form-field>
</form>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
