<h2 mat-dialog-title>Create Partner</h2>
<div mat-dialog-content>
    <mat-form-field>
    <input matInput [(ngModel)]="partner.id" name="id" type="number" placeholder="id" disabled required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerName" name="partnerName" type="text" placeholder="partnerName"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerZip" name="partnerZip" type="text" placeholder="partnerZip"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerCountry" name="partnerCountry" type="text" placeholder="partnerCountry"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerCity" name="partnerCity" type="text" placeholder="partnerCity"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerAddress" name="partnerAddress" type="text" placeholder="partnerAddress"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerVatnumberEu" name="partnerVatnumberEu" type="text" placeholder="partnerVatnumberEu"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerVatnumberHu" name="partnerVatnumberHu" type="text" placeholder="partnerVatnumberHu"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerIbanNumber" name="partnerIbanNumber" type="text" placeholder="partnerIbanNumber"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerAccount" name="partnerAccount" type="text" placeholder="partnerAccount"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerCredit" name="partnerCredit" type="text" placeholder="partnerCredit"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerPromt" name="partnerPromt" type="text" placeholder="partnerPromt"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerPaymode" name="partnerPaymode" type="number" placeholder="partnerPaymode"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMainpricelist" name="partnerMainpricelist" type="number" placeholder="partnerMainpricelist"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerGroup" name="partnerGroup" type="text" placeholder="partnerGroup"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerWarehouse" name="partnerWarehouse" type="number" placeholder="partnerWarehouse"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerCurrency" name="partnerCurrency" type="text" placeholder="partnerCurrency"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMainpreference" name="partnerMainpreference" type="number" placeholder="partnerMainpreference"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerTransportZip" name="partnerTransportZip" type="text" placeholder="partnerTransportZip"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerTransportCity" name="partnerTransportCity" type="text" placeholder="partnerTransportCity"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerTransportAddress" name="partnerTransportAddress" type="text" placeholder="partnerTransportAddress"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMailName" name="partnerMailName" type="text" placeholder="partnerMailName"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMailZip" name="partnerMailZip" type="text" placeholder="partnerMailZip"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMailCity" name="partnerMailCity" type="text" placeholder="partnerMailCity"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMailAddress" name="partnerMailAddress" type="text" placeholder="partnerMailAddress"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerPhone" name="partnerPhone" type="text" placeholder="partnerPhone"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerFax" name="partnerFax" type="text" placeholder="partnerFax"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMobile" name="partnerMobile" type="text" placeholder="partnerMobile"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerEmail" name="partnerEmail" type="text" placeholder="partnerEmail"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerWebsite" name="partnerWebsite" type="text" placeholder="partnerWebsite"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerPicture" name="partnerPicture" type="text" placeholder="partnerPicture"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerSale" name="partnerSale" type="number" placeholder="partnerSale"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerSalePremium" name="partnerSalePremium" type="text" placeholder="partnerSalePremium"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerContract" name="partnerContract" type="number" placeholder="partnerContract"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerWarriant" name="partnerWarriant" type="number" placeholder="partnerWarriant"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.deleted" name="deleted" type="number" placeholder="deleted"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerLat" name="partnerLat" type="number" placeholder="partnerLat"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerLng" name="partnerLng" type="number" placeholder="partnerLng"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerRemoteId" name="partnerRemoteId" type="text" placeholder="partnerRemoteId"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerLang" name="partnerLang" type="text" placeholder="partnerLang"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.storeId" name="storeId" type="number" placeholder="storeId"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.password" name="password" type="text" placeholder="password"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.rank" name="rank" type="number" placeholder="rank"  required>
  </mat-form-field>


</div>
<mat-dialog-actions>
  <button class="mat-button" (click)="cancel()">Cancel</button>
  <button class="mat-raised-button" (click)="createPartner(partner)" cdkFocusInitial>Save</button>
</mat-dialog-actions>