<h2 mat-dialog-title>Invoice Details</h2>
  <form>
      <mat-form-field>
    <input matInput [(ngModel)]="invoice.id" name="id" type="number" placeholder="id" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceType" name="invoiceType" type="number" placeholder="invoiceType" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceTypeName" name="invoiceTypeName" type="text" placeholder="invoiceTypeName" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceWarehouseMove" name="invoiceWarehouseMove" type="number" placeholder="invoiceWarehouseMove" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePartnerId" name="invoicePartnerId" type="number" placeholder="invoicePartnerId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePartnerName" name="invoicePartnerName" type="text" placeholder="invoicePartnerName" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePartnerTransport" name="invoicePartnerTransport" type="number" placeholder="invoicePartnerTransport" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePaymode" name="invoicePaymode" type="number" placeholder="invoicePaymode" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceStartDate" name="invoiceStartDate" type="date" placeholder="invoiceStartDate" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceEndDate" name="invoiceEndDate" type="date" placeholder="invoiceEndDate" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePayDate" name="invoicePayDate" type="date" placeholder="invoicePayDate" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceCurrency" name="invoiceCurrency" type="text" placeholder="invoiceCurrency" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePricelist" name="invoicePricelist" type="number" placeholder="invoicePricelist" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceNetto" name="invoiceNetto" type="number" placeholder="invoiceNetto" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceVat" name="invoiceVat" type="number" placeholder="invoiceVat" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceBrutto" name="invoiceBrutto" type="number" placeholder="invoiceBrutto" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceId" name="invoiceId" type="number" placeholder="invoiceId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceNumber" name="invoiceNumber" type="text" placeholder="invoiceNumber" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceUserId" name="invoiceUserId" type="number" placeholder="invoiceUserId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.companyId" name="companyId" type="number" placeholder="companyId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.deleted" name="deleted" type="number" placeholder="deleted" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceCreated" name="invoiceCreated" type="text" placeholder="invoiceCreated" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceNote" name="invoiceNote" type="text" placeholder="invoiceNote" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceBenefitCode" name="invoiceBenefitCode" type="text" placeholder="invoiceBenefitCode" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.transferPrice" name="transferPrice" type="number" placeholder="transferPrice" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.transferDate" name="transferDate" type="text" placeholder="transferDate" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceSale" name="invoiceSale" type="number" placeholder="invoiceSale" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.html" name="html" type="number" placeholder="html" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.userNote" name="userNote" type="text" placeholder="userNote" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.emailSend" name="emailSend" type="number" placeholder="emailSend" disabled>
  </mat-form-field>


  </form>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
