<h2 mat-dialog-title>Invoice Details</h2>
  <form>
      <mat-form-field>
    <input matInput [(ngModel)]="invoice.id" name="FIELD_NAME$" placeholder="id" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceType" name="FIELD_NAME$" placeholder="invoiceType" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceTypeName" name="FIELD_NAME$" placeholder="invoiceTypeName" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceWarehouseMove" name="FIELD_NAME$" placeholder="invoiceWarehouseMove" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePartnerId" name="FIELD_NAME$" placeholder="invoicePartnerId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePartnerName" name="FIELD_NAME$" placeholder="invoicePartnerName" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePartnerTransport" name="FIELD_NAME$" placeholder="invoicePartnerTransport" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePaymode" name="FIELD_NAME$" placeholder="invoicePaymode" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceStartDate" name="FIELD_NAME$" placeholder="invoiceStartDate" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceEndDate" name="FIELD_NAME$" placeholder="invoiceEndDate" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePayDate" name="FIELD_NAME$" placeholder="invoicePayDate" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceCurrency" name="FIELD_NAME$" placeholder="invoiceCurrency" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoicePricelist" name="FIELD_NAME$" placeholder="invoicePricelist" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceNetto" name="FIELD_NAME$" placeholder="invoiceNetto" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceVat" name="FIELD_NAME$" placeholder="invoiceVat" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceBrutto" name="FIELD_NAME$" placeholder="invoiceBrutto" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceId" name="FIELD_NAME$" placeholder="invoiceId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceNumber" name="FIELD_NAME$" placeholder="invoiceNumber" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceUserId" name="FIELD_NAME$" placeholder="invoiceUserId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.companyId" name="FIELD_NAME$" placeholder="companyId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.deleted" name="FIELD_NAME$" placeholder="deleted" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceCreated" name="FIELD_NAME$" placeholder="invoiceCreated" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceNote" name="FIELD_NAME$" placeholder="invoiceNote" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceBenefitCode" name="FIELD_NAME$" placeholder="invoiceBenefitCode" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.transferPrice" name="FIELD_NAME$" placeholder="transferPrice" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.transferDate" name="FIELD_NAME$" placeholder="transferDate" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.invoiceSale" name="FIELD_NAME$" placeholder="invoiceSale" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.html" name="FIELD_NAME$" placeholder="html" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.userNote" name="FIELD_NAME$" placeholder="userNote" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="invoice.emailSend" name="FIELD_NAME$" placeholder="emailSend" disabled>
  </mat-form-field>


  </form>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
