<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.id}} </mat-cell>
    </ng-container>

    <!-- plateNumber Column -->
    <ng-container matColumnDef="plateNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> plateNumber </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.plateNumber}} </mat-cell>
    </ng-container>

    <!-- fuelNorm Column -->
    <ng-container matColumnDef="fuelNorm">
      <mat-header-cell *matHeaderCellDef mat-sort-header> fuelNorm </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.fuelNorm}} </mat-cell>
    </ng-container>

    <!-- fuelType Column -->
    <ng-container matColumnDef="fuelType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> fuelType </mat-header-cell>
      <mat-cell *matCellDef="let car" > {{car.fuelType}} </mat-cell>
    </ng-container>

    <!-- companyId Column -->
    <ng-container matColumnDef="companyId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> companyId </mat-header-cell>
      <mat-cell *matCellDef="let car" > {{car.companyId}} </mat-cell>
    </ng-container>

    <!-- carsDeleted Column -->
    <ng-container matColumnDef="carsDeleted">
      <mat-header-cell *matHeaderCellDef mat-sort-header> carsDeleted </mat-header-cell>
      <mat-cell *matCellDef="let car" > {{car.carsDeleted}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"  (click) = "viewCar(row)">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
