<h2 mat-dialog-title>Create ProductType</h2>
<div mat-dialog-content>
    <mat-form-field>
    <input matInput [(ngModel)]="producttype.id" name="id" type="number" placeholder="id" disabled required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="producttype.productTypeName" name="productTypeName" type="text" placeholder="productTypeName"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="producttype.productTypeDeleted" name="productTypeDeleted" type="number" placeholder="productTypeDeleted"  required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="producttype.companyId" name="companyId" type="number" placeholder="companyId"  required>
  </mat-form-field>


</div>
<mat-dialog-actions>
  <button class="mat-button" (click)="cancel()">Cancel</button>
  <button class="mat-raised-button" (click)="createProductType(producttype)" cdkFocusInitial>Save</button>
</mat-dialog-actions>