<h2 mat-dialog-title>Partner Details</h2>
  <form>
      <mat-form-field>
    <input matInput [(ngModel)]="partner.id" name="id" type="number" placeholder="id" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerName" name="partnerName" type="text" placeholder="partnerName" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerZip" name="partnerZip" type="text" placeholder="partnerZip" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerCountry" name="partnerCountry" type="text" placeholder="partnerCountry" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerCity" name="partnerCity" type="text" placeholder="partnerCity" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerAddress" name="partnerAddress" type="text" placeholder="partnerAddress" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerVatnumberEu" name="partnerVatnumberEu" type="text" placeholder="partnerVatnumberEu" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerVatnumberHu" name="partnerVatnumberHu" type="text" placeholder="partnerVatnumberHu" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerIbanNumber" name="partnerIbanNumber" type="text" placeholder="partnerIbanNumber" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerAccount" name="partnerAccount" type="text" placeholder="partnerAccount" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerCredit" name="partnerCredit" type="text" placeholder="partnerCredit" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerPromt" name="partnerPromt" type="text" placeholder="partnerPromt" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerPaymode" name="partnerPaymode" type="number" placeholder="partnerPaymode" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMainpricelist" name="partnerMainpricelist" type="number" placeholder="partnerMainpricelist" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerGroup" name="partnerGroup" type="text" placeholder="partnerGroup" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerWarehouse" name="partnerWarehouse" type="number" placeholder="partnerWarehouse" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerCurrency" name="partnerCurrency" type="text" placeholder="partnerCurrency" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMainpreference" name="partnerMainpreference" type="number" placeholder="partnerMainpreference" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerTransportZip" name="partnerTransportZip" type="text" placeholder="partnerTransportZip" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerTransportCity" name="partnerTransportCity" type="text" placeholder="partnerTransportCity" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerTransportAddress" name="partnerTransportAddress" type="text" placeholder="partnerTransportAddress" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMailName" name="partnerMailName" type="text" placeholder="partnerMailName" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMailZip" name="partnerMailZip" type="text" placeholder="partnerMailZip" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMailCity" name="partnerMailCity" type="text" placeholder="partnerMailCity" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMailAddress" name="partnerMailAddress" type="text" placeholder="partnerMailAddress" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerPhone" name="partnerPhone" type="text" placeholder="partnerPhone" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerFax" name="partnerFax" type="text" placeholder="partnerFax" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerMobile" name="partnerMobile" type="text" placeholder="partnerMobile" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerEmail" name="partnerEmail" type="text" placeholder="partnerEmail" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerWebsite" name="partnerWebsite" type="text" placeholder="partnerWebsite" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerPicture" name="partnerPicture" type="text" placeholder="partnerPicture" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerSale" name="partnerSale" type="number" placeholder="partnerSale" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerSalePremium" name="partnerSalePremium" type="text" placeholder="partnerSalePremium" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerContract" name="partnerContract" type="number" placeholder="partnerContract" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerWarriant" name="partnerWarriant" type="number" placeholder="partnerWarriant" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.deleted" name="deleted" type="number" placeholder="deleted" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerLat" name="partnerLat" type="number" placeholder="partnerLat" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerLng" name="partnerLng" type="number" placeholder="partnerLng" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerRemoteId" name="partnerRemoteId" type="text" placeholder="partnerRemoteId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.partnerLang" name="partnerLang" type="text" placeholder="partnerLang" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.storeId" name="storeId" type="number" placeholder="storeId" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.password" name="password" type="text" placeholder="password" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="partner.rank" name="rank" type="number" placeholder="rank" disabled>
  </mat-form-field>


  </form>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
